<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Multiplying LightBulb</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" /></noscript>

    <style>
        #my_dataviz {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <% include partials/navbar.ejs %>

        <!-- Wrapper -->
        <section id="wrapper">
            <header>
                <div class="inner">
                    <span><img src="https://cdn.pixabay.com/photo/2016/03/31/19/17/cartoon-1294877_1280.png" style="width: 5vw;"></span>
                    <h2>Lightbulb Companion</h2>
                    <p>Smart Analytics for NCR Silver</p>
                </div>
            </header>

            <!-- Content -->
            <div class="wrapper">
                <div class="inner">

                    <h3 class="major">Intelligent Item Analytics </h3>
                    <select name="itemName" id="itemList">
                        <option value="" selected="selected" disabled>Select an Item</option>
                        <% data['items'].forEach(item => { %>
                        <option value="<%= item %>"><%= item %></option>
                        <% }) %>
                    </select>
                    <!-- 
                    <script>
                        var dropDown = document.getElementById('itemList');
                        var txt = "";
                        for(var i = 0; i < dropDown.length; i++){
                            txt += "'" + dropDown.options[i].value + "': " + i + ",\n"
                        }
                        console.log(txt);
                    </script> -->

                    <div
                        style="display: flex; justify-content: space-evenly; align-items: flex-end; justify-items: center;">
                        <div>
                            <input type="submit" value="Frequently Together Bought Items" class="button primary"
                                style="margin: auto; margin-top: 20px;" id="fetchBtn">
                        </div>


                        <div style="display: flex; justify-content: space-evenly; align-items: center;">
                            <button class="button primary" id="btnInventory">Check Inventory</button>
                            <p style="font-weight: bold; font-size: 1.25em; margin: 0; margin-left: 1em">Quantity to order: <span id="quantity"
                                    style="color: #54B948; font-weight: bold;">0</span></p>
                        </div>
                    </div>


                    <script>
                        document.getElementById('btnInventory').addEventListener('click', function () {
                            var dropDown = document.getElementById('itemList');
                            var selectedItem = dropDown.options[dropDown.selectedIndex].value;
                            document.getElementById('quantity').textContent = getPredictedQuantity(selectedItem);
                        });
                    </script>

                    <div id="my_dataviz">

                    </div>


                    <br><br>
                    <h3 class="major"> </h3>
                    <div class="tableu">
                        <div class='tableauPlaceholder' id='viz1572100311848' style='position: relative; margin: auto;'>
                            <noscript><a href='#'><img alt=' '
                                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countcustomer&#47;Dashboard1&#47;1_rss.png'
                                        style='border: none' /></a></noscript>
                            <object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='countcustomer&#47;Dashboard1' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image'
                                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countcustomer&#47;Dashboard1&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='filter' value='publish=yes' />
                            </object></div>
                        <script>
                            var divElement = document.getElementById('viz1572100311848');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            if (divElement.offsetWidth > 800) {
                                vizElement.style.width = '1200px'; vizElement.style.height = '927px';
                            }
                            else if (divElement.offsetWidth > 500) {
                                vizElement.style.width = '1200px';
                                vizElement.style.height = '927px';
                            }
                            else {
                                vizElement.style.width = '100 %';
                                vizElement.style.height = '827px';
                            }
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);
                        </script>
                    </div>

                    <!-- 
                    <br><br>
                    <h3 class="major">Sales/Profit Forecast</h3>
                    <div class="tableu">
                        <div class='tableauPlaceholder' id='viz1572146518498' style='position: relative'>
                            <noscript><a href='#'><img alt=' '
                                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countcustomer&#47;Dashboard3&#47;1_rss.png'
                                        style='border: none' /></a>
                            </noscript>
                            <object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='countcustomer&#47;Dashboard3' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image'
                                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countcustomer&#47;Dashboard3&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='filter' value='publish=yes' /></object></div>
                        <script>
                            var divElement = document.getElementById('viz1572146518498');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            if (divElement.offsetWidth > 800) {
                                vizElement.style.width = '1000px';
                                vizElement.style.height = '827px';
                            }
                            else if (divElement.offsetWidth > 500) {
                                vizElement.style.width = '1000px';
                                vizElement.style.height = '827px';
                            }
                            else {
                                vizElement.style.width = '100%';
                                vizElement.style.height = '727px';
                            }

                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement); 
                        </script>
                    </div> -->



                </div>
            </div>
        </section> <% include partials/footer.ejs %>
    </div>
    <% include partials/scripts.ejs %>
</body>

</html>
