<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Multiplying LightBulb</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" /></noscript>

    <style>
        #my_dataviz{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <% include partials/navbar.ejs %>

        <!-- Wrapper -->
        <section id="wrapper">
            <header>
                <div class="inner">
                    <h2>Multiplying Lightbulb</h2>
                    <p>Inventory Dashboard</p>
                </div>
            </header>

            <!-- Content -->
            <div class="wrapper">
                <div class="inner">

                    <h3 class="major">Select Item</h3>
                    <select name="itemName" id="itemList">
                        <!-- <option value="" selected="selected" disabled>Select an Item</option> -->
                        <% data['items'].forEach(item => { %>
                        <option value="<%= item %>"><%= item %></option>
                        <% }) %>
                    </select>

                    <input type="submit" value="Get Related Items" class="button primary"
                        style="margin: auto; margin-top: 20px;" id="fetchBtn">


                    <div id="my_dataviz">
                        
                    </div>

                    <div id="data-view">
                        <div class='tableauPlaceholder' id='viz1572100311848' style='position: relative'>
                            <noscript><a href='#'><img alt=' '
                                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countcustomer&#47;Dashboard1&#47;1_rss.png'
                                        style='border: none' /></a></noscript>
                            <object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='countcustomer&#47;Dashboard1' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image'
                                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countcustomer&#47;Dashboard1&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='filter' value='publish=yes' />
                            </object></div>
                        <script>
                            var divElement = document.getElementById('viz1572100311848');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            if (divElement.offsetWidth > 800) {
                                vizElement.style.width = '1000px'; vizElement.style.height = '827px';
                            }
                            else if (divElement.offsetWidth > 500) {
                                vizElement.style.width = '1000px';
                                vizElement.style.height = '827px';
                            }
                            else {
                                vizElement.style.width = '100 %';
                                vizElement.style.height = '727px';
                            }
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                        </script>
                    </div>

                    <h3 class="major">Vitae phasellus</h3>
                    <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat.
                        Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem
                        lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>

                    <section class="features">
                        <article>
                            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                            <h3 class="major">Sed feugiat lorem</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus
                                ultrices.</p>
                            <a href="#" class="special">Learn more</a>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                            <h3 class="major">Nisl placerat</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus
                                ultrices.</p>
                            <a href="#" class="special">Learn more</a>
                        </article>
                    </section>

                </div>
            </div>

        </section>

        <% include partials/footer.ejs %>

    </div>

    <% include partials/scripts.ejs %>



</body>

</html>